<div class="container-fluid">
    <div class="box">
        <br>
        <div class="header">
            <h1 style="text-align: center">Kalerka Yarn</h1>
        </div>
        <br><br>
        <hr>
        <br>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Stock</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let product of products; let i = index;">
                    <th scope="row">{{product.id}}</th>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.stock}}</td>
                    <td><a [routerLink] = "['/details',product.id]">View Details</a></td>
                </tr>  
            </tbody>
        </table>

        <button type="button" class="btn btn-light">Light</button>
    </div>
</div>