<div class="container-fluid">
    <div class="box">
        <br>
        <div class="header">
            <h1 style="text-align: center">Sopping Shop</h1>
        </div>
        <br><br>
        <hr>
        <br>
        <div class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchTerm" />
        </div>

        
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Price</th>
                    <th scope="col">Stock</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let product of filteredProducts">
                    <th scope="row">{{product.id}}</th>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.stock}}</td>
                    <td><button class="btn btn-primary" [disabled]="product.stock === 0" routerLink="/cart" (click)="addToCart(product)"> Add to Cart</button></td>
                </tr> 
            </tbody>
        </table>
    </div>
</div>